{% extends "base.html" %}
    {% block content %}
    <style>
            error{
                color: red;
            }
            form {
                background-color: #eee;
                padding: 20px;
                margin: 0 auto;
                width: 540px;
                font: 16px sans-serif;
                border-radius: 10px;
    </style>

    <h1>UserName</h1>
    
    
    
    {% for row in user_names %}
        
        {% if blog_id == row.owner_id %}
            <h2><a href = "/{{row.email}}?id={{row.id}}"> {{row.blog_title}}</a></h2>
            <p>{{row.blog_body}}</p><br>
        
        {% endif %}
        
    {% endfor %}
            
        

{% endblock %}